.add-order-form {
  background: rgba(255, 255, 255, 0.2); 
  border-radius: 15px; 
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.18); 
  padding: 25px; 
  width: 400px; 
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px; 
  justify-items: center; 
  margin-bottom: 40px; 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background: linear-gradient(to right, #f5f8ff, #94a4c2);
  margin: 0;
}

.order-list {
  background: rgba(255, 255, 255, 0.1); 
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
  max-width: 600px; 
  margin: 0 auto; 
  text-align: left; 
}
